.messages {
  padding: 1em;
  background-color: rgb(159, 197, 159);
  overflow-y: auto;
  flex: 1;
  &__message {
    margin: 0 auto 1em;
    width: 70%;
    &__infos {
      text-align: left;
      color: white;
      margin-bottom: 0.2em;
      display: flex;
      justify-content: space-between;
      &__date {
        color: greenyellow;
      }
    }    
    &__text {
      background-color: rgb(126, 180, 241);
      padding: 1em;
      text-align: left;
      border: 1px solid lightblue;
      word-wrap: break-word;
    }

  }
}