.settings {
  display: flex;

  &__toggle {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: none;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
    &__openned {
      transform: rotate(45deg);
    }
  }

  .settings-form {

    &__hidden {
      display: none;
    }

    display: flex;
    
    &__email {
      margin: 0 1em;
      border-radius: 3px;
      border: none;
      height: 3em;
      &::placeholder {
        padding-left: 1em;
      }
    }
  
    &__password {
      margin-right: 1em;
      border-radius: 3px;
      border: none;
      height: 3em;
      &::placeholder {
        padding-left: 1em;
      }
    }
  
    &__button {
      border-radius: 3px;
      border: none;
      height: 3em;
      &::placeholder {
        padding-left: 1em;
      }
    }
  }
}
