.settings {
  position: absolute;
  display: flex;
  top: 5%;
  left: 1%;
  padding: 0em;

  &__close {
    height: 2em;
    width: 2em;
    margin-right: 2em;
    border-radius: 50%;
    border: none;
    font-size: 1.2em;
  }

  .settings-form {

    &__hidden {
      display: none;
    }

    display: flex;
    flex-direction: column;
    
    &__email {
      margin-bottom: 1em;
      border-radius: 3px;
      border: none;
      height: 3em;
      &::placeholder {
        padding-left: 1em;
      }
    }
  
    &__password {
      margin-bottom: 1em;
      border-radius: 3px;
      border: none;
      height: 3em;
      &::placeholder {
        padding-left: 1em;
      }
    }
  
    &__button {
      border-radius: 3px;
      border: none;
      height: 3em;
      &::placeholder {
        padding-left: 1em;
      }
    }
  }
}
